{% extends 'base1.html'%}
{% block content %}
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-text mx-3">USER</div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_profile' request.user.id %}">
          <i class="fas fa-fw fa-globe"></i>
          <span>PROFILE</span></a>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item active">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>NOTIFICATION</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'user_q_notification' request.user.id %}">QUESTION</a>
            <a class="collapse-item active" href="{% url 'user_a_notification' request.user.id %}">ANSWER</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-comment"></i>
          <span>MESSAGE</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">COMMING SOON</h6>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>PROGRAMMES</span>
        </a>
        <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">COMMING SOON</h6>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_question' request.user.id %}">
          <i class="fas fa-fw fa-tasks"></i>
          <span>Questions</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'forum' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>SITE</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout_request' %}">
          <i class="fas fa-fw fa-arrow-left"></i>
          <span>LOGOUT</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">{{ n_total }}+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  NOTIFICATIONS
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <span>Questions : {{ q_total }}</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-tasks text-white"></i>
                    </div>
                  </div>
                  <div>
                    Answers: {{ a_total }}
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-comments text-white"></i>
                    </div>
                  </div>
                  <div>
                    Comments: {{ c_total }}
                  </div>
                </a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                <img class="img-profile rounded-circle" src="{{ image.url }}">
              </a>
            </li>

          </ul>
        </nav>
        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Answer Notification</h1>
          </div>

          <div class="row">
            {% for data in datas %}
              {% if data.seen %}
                <div class="col-xl-8 col-lg-7 mx-auto">
                  <div class="card shadow mb-4">
                    <a href="{% url 'answer_comments' data.answer_id %}">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-secondary mx-auto text-center">{{ data.username }} commented on  your answer.</h6>
                      </div>
                    </a>
                  </div>
                </div>
              {% else %}
                <div class="col-xl-8 col-lg-7 mx-auto">
                  <div class="card shadow mb-4">
                    <a href="{% url 'answer_comments' data.answer_id %}">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary mx-auto text-center">{{ data.username }} commented on your answer.</h6>
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
    </div>
  </div>
{% endblock %}