{% extends 'base.html' %}
{% block title %}POST COMMENT{% endblock %}
{% block content %}

    <section id="breadcrumbs" class="breadcrumbs text-center">
        <div class="container">
        <h2>POST Your Comment</h2>
        <br>
        </div>
    </section>

    <form method="post">
        {% csrf_token %}
        <section>
            <div class="container text-center">
                
                <h2><b><i>
                    {{ form.media }}
                    {{ form.as_p }}
                </i></b></h2>
                <br>
            </div>
            <div class="col-10 mx-auto nopadding">
                <button type="submit" class="publish">Post Comment</button>
            </div> 
        </section>
    </form>

{% endblock %}